<div class="container-fluid organization-profile">
<%= devise_error_messages! %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<script>
jQuery(document).ready(function(){
    jQuery('#hideshow').on('click', function(event) {        
         jQuery('#content').toggle('show');
         jQuery('#content2').toggle('show');
    });
});

jQuery(document).ready(function(){
jQuery('#content2').hide(1);
});


function change()
{
    var elem = document.getElementById("hideshow");
    if (elem.value=="Edit profile") elem.value = "Change password";
    else elem.value = "Edit profile";
}
</script>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
  

  <div id=content>
   <div class="field">
   <div class="form-group">

    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
  </div>
  

  <div class="field">
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
 <div class="field">
 <div class="form-group">
  <% if (user_signed_in?) && (not current_user.volunteer?) %>
 
    <%= f.label "Your organizations mission" %><br />
    <% else %>
    <%= f.label "College major(s)" %><br />
    <% end %>
    <%= f.text_area :biographical_information, autofocus: true, cols: "30", rows: "3", class: "form-control" %>
  </div>
  </div>
 <div class="field">
 <div class="form-group">
  <% if (user_signed_in?) && (not current_user.volunteer?) %>
 
    <%= f.label :About_your_organization %><br />
    <% else %>
    <%= f.label :What_you_are_passionate_about %><br />
    <% end %>
    <%= f.text_area :about1, autofocus: true, cols: "30", rows: "3", class: "form-control" %>
  </div>
  </div>

  <div class="field">
  <div class="form-group">
    <%= f.label :website %><br />
    <%= f.text_field :website, autofocus: true, class: "form-control" %>
  </div>
  </div>

  <div class="field">
  <div class="form-group">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true, class: "form-control" %>
  </div>
  </div>

  <div class="field">
  <div class="form-group">
    <%= f.label :phone_number %><br />
    <%= f.telephone_field :phone_number, autofocus: true, maxlength: 10, class: "form-control" %>
  </div>
  </div>
  <div class="field">
  <div class="form-group">
    <%= f.label :image %><br />
    <%= f.file_field :image, autofocus: true, class: "form-control" %>
  </div>
  </div>
  </div>
  <div id=content2>
<div class="field">
<div class="form-group">
    <%= f.label :password %> <i>(must be at least 6 characters)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
</div>
    <div class="field">
    <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
  </div>

</div>
</div>
<div class="field">
<div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
</div>
</div>




  <div class="actions">

    <%= f.submit "Update Account", class: "btn btn-success" %>
  </div>
<% end %>

<input type='button' onclick="change()" id='hideshow' value='Change Password' class='btn btn-success' >

<!--Commenting this out for now because it causes a bug. Might fix later.

<h3>Cancel my account</h3>


<p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm" %></p>
-->
</div>


