<p id="notice"><%= notice %></p>

<h1>Listing Claim Opportunities</h1>

<table>
  <thead>
    <tr>
      <th>Please explain why you are interested in this opportunity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @claim_opportunities.each do |claim_opportunity| %>
      <tr>
        <td><%= claim_opportunity.please_explain_why_you_are_interested_in_this_opportunity %></td>
        <td><%= link_to 'Show', claim_opportunity %></td>
        <td><%= link_to 'Edit', edit_claim_opportunity_path(claim_opportunity) %></td>
        <td><%= link_to 'Destroy', claim_opportunity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Claim opportunity', new_claim_opportunity_path %>
