<h1>Claim <%= @volunteer_opportunity.Organization %> from <%= @volunteer_opportunity.user.name %></h1>
<h4>Date: <%= @volunteer_opportunity.event_date %></h4>
<br>

<%= render 'form' %>

<%= link_to 'Back', volunteer_opportunity_claim_opportunities_path %>
