<h1>Claim <%= @volunteer_opportunity.Organization %> from <%= @volunteer_opportunity.user.name %></h1>
<h4><b>Date:</b> <%= @volunteer_opportunity.event_date %> <%= @volunteer_opportunity.start_time %> - <%= @volunteer_opportunity.end_date %> <%= @volunteer_opportunity.end_time %> </h4>
<br>

<%= render 'form' %>

