<div class="container-fluid organization-profile">

    <div class="row">
      <div class="col-md-8 main-bio">
           <div class="calendar">
             <%= link_to "Edit your profile", edit_user_registration_path %>
            <h1><%= current_user.name %>'s Profile</h1>
            <div class="underline"></div>
                 
 
          <%= image_tag current_user.image.url(:medium) ,:class=> "profile-pic" %>
        </div><!--calendar-->
      </div><!--col-md-8-->
      <div class="col-md-4">
        <div class="calendar">
          <h1>Contact Information</h1>
          <div class="underline-red"></div>
          <p>
            <strong>Address:</strong>
          <%= current_user.address %>
          </p>

          <p>
            <strong>Email:</strong>
          <%= current_user.email %>
          </p>


          <p>
            <strong>Phone:</strong>
          <%= current_user.phone_number %>
          </p>
        </div>
        <br>
      <div class="calendar">
          <h1>My Major(s)</h1>
          <div class="underline-red"></div>
          <%= current_user.biographical_information %>
      </div>
    </div><!--col-md-4-->
  </div><!--row-->

    <div class="row">
      <div class="calendar">
        <h1>My Connections</h1>
        <div class="underline-purple"></div>

    <% @claim_opportunity.each do |claim_opportunity| %>

      <div class="col-md-3">
        <div class="paddingbottom">
          <div class="border1">
            <div class="boxesbackground">
            
            <%= claim_opportunity.volunteer_opportunity.user.name %><br>
            </div>
            <div class="descriptiontextpadding">
            <%= claim_opportunity.volunteer_opportunity.Organization %><br>
            </div>
          
            <center>
              <div class="boxesbackground">
              <%= link_to 'Learn More', claim_opportunity.volunteer_opportunity, class: 'orangefont' %><br>
              </div>
            </center>


          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>





