<div class="container">

<h2><%= current_user.name %></h2>
<p>
<%= image_tag current_user.image.url(:medium) %>
</p>

<p>
  <strong>Address:</strong>
<%= current_user.address %>
</p>

<p>
  <strong>Email:</strong>
<%= current_user.email %>
</p>


<p>
  <strong>Phone:</strong>
<%= current_user.phone_number %>
</p>

<p>
<strong>My causes:</strong>
<%= current_user.biographical_information %>
</p>

<p>
<%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-success" %>
</p>

</div>










<h2>Connections you have claimed</h2>
<br>







<div class="row">
<% @claim_opportunity.each do |claim_opportunity| %>

  <div class="col-md-3">
  <div class="paddingbottom">
  <div class="border1">
  <div class="boxesbackground">
  
  <%= claim_opportunity.volunteer_opportunity.user.name %><br>
  </div>
  <div class="descriptiontextpadding">
  <%= claim_opportunity.volunteer_opportunity.Organization %><br>
  </div>
  
  <center>
  <div class="boxesbackground">
  <%= link_to 'Learn More', claim_opportunity.volunteer_opportunity, class: 'orangefont' %><br>
  </div>
  </center>


  </div>
  </div>
  </div>
<% end %>
  </div>





