

<h1 class="text-center">Connections you posted that volunteers have claimed</h1>


<table class= "table table-responsive">
  <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Causes</th>
      <th>Passions</th>
      <th>Cover Letter</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @claim_opportunity.each do |claim_opportunity| %>
      <tr>
        <td><%= claim_opportunity.volunteer_opportunity.Organization %></td>
        <td><%= claim_opportunity.volunteer.name  %></td>
        <td><%= claim_opportunity.volunteer.phone_number  %></td>
        <td><%= claim_opportunity.volunteer.biographical_information  %></td>
        <td><%= claim_opportunity.volunteer.about1  %></td>
        <td><%= claim_opportunity.please_explain_why_you_are_interested_in_this_opportunity  %></td>
        <td><a href="mailto:<%= claim_opportunity.volunteer.email  %>?subject=<%= current_user.name %> wants you to volunteer!&body=Hello <%= claim_opportunity.volunteer.name  %>, if you are interested in volunteering for the <%= claim_opportunity.volunteer_opportunity.Organization %> position, please let us know! ">Contact <%= claim_opportunity.volunteer.name  %></a></td>
        

      </tr>
    <% end %>
  </tbody>
</table>

<br>




