<div class="container-fluid profile-page">

    <div class="row">
      <div class="col-sm-4">
        <div class="profile-info">
          <p>
            <strong>Address:</strong>
          <%= current_user.address %>
          </p>

          <p>
            <strong>Email:</strong>
          <%= current_user.email %>
          </p>


          <p>
            <strong>Phone:</strong>
          <%= current_user.phone_number %>
          </p>
        </div>
      </div>
        <div class="col-sm-2">
          <div class="name-profile">
            <h2><%= current_user.name %></h2>
            <p>
            <%= link_to "Edit your profile", edit_user_registration_path %>
            </p>
          </div>
        </div>

      <div class="col-sm-6">
        <div class="profile-pic">
          <p>
          <%= image_tag current_user.image.url(:medium) %>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="my-causes">

          <p>
          <strong>My causes:</strong>
          <%= current_user.biographical_information %>
          </p>

        </div>
      </div>

      <div class="col-sm-8">
        <div class="my-preferences">

          <h3>
          <strong>My Preferences</strong>
          </h3>

        </div>
      </div>
    </div>









  <div class="connections-claimed">
    <h2>Connections you have claimed</h2>
    
  </div>

  <br>







  <div class="row">
    <% @claim_opportunity.each do |claim_opportunity| %>

      <div class="col-md-3">
        <div class="paddingbottom">
          <div class="border1">
            <div class="boxesbackground">
            
            <%= claim_opportunity.volunteer_opportunity.user.name %><br>
            </div>
            <div class="descriptiontextpadding">
            <%= claim_opportunity.volunteer_opportunity.Organization %><br>
            </div>
          
            <center>
              <div class="boxesbackground">
              <%= link_to 'Learn More', claim_opportunity.volunteer_opportunity, class: 'orangefont' %><br>
              </div>
            </center>


          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>





