<%= form_for(@volunteer_opportunity) do |f| %>
  <% if @volunteer_opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volunteer_opportunity.errors.count, "error") %> prohibited this volunteer_opportunity from being saved:</h2>

      <ul>
      <% @volunteer_opportunity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Position %><br>
    <%= f.text_field :Organization, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Address %><br>
    <%= f.text_field :Address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Phone %><br>
    <%= f.text_field :Phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Website %><br>
    <%= f.text_field :Website, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>



