<div class="container-fluid">
  <div class= "row subheading-top">
    <h2>Search by Day</h2>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday </th>
          <th>Sunday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <th scope="row"></th>
          <td>Morning:<input class="box" name="1" type="checkbox" value="mmondaym"/> </td>
          <td>Morning:<input class="box" name="2" type="checkbox" value="mtuesdaym" /></td>
          <td>Morning:<input class="box" name="3" type="checkbox" value="mwednesdaym" /></td>
          <td>Morning:<input class="box" name="4" type="checkbox" value="mthursdaym" /></td>
          <td>Morning:<input class="box" name="5" type="checkbox" value="mfridaym" /></td>
          <td>Morning:<input class="box" name="6" type="checkbox" value="msaturdaym" /></td>
          <td>Morning:<input class="box" name="7" type="checkbox" value="msundaym" /></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Afternoon:<input class="box" name="8" type="checkbox" value="amondaya" /></td>
          <td>Afternoon:<input class="box" name="9" type="checkbox" value="atuesdaya" /></td>
          <td>Afternoon:<input class="box" name="10" type="checkbox" value="awednesdaya" /></td>
          <td>Afternoon:<input class="box" name="11" type="checkbox" value="athursdaya" /></td>
          <td>Afternoon:<input class="box" name="12" type="checkbox" value="afridaya" /></td>
          <td>Afternoon:<input class="box" name="13" type="checkbox" value="asaturdaya" /></td>
          <td>Afternoon:<input class="box" name="14" type="checkbox" value="asundaya" /></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Evening:<input class="box" name="15" type="checkbox" value="emondaye" /></td>
          <td>Evening:<input class="box" name="16" type="checkbox" value="etuesdaye" /></td>
          <td>Evening:<input class="box" name="17" type="checkbox" value="ewednesdaye" /></td>
          <td>Evening:<input class="box" name="18" type="checkbox" value="ethursdaye" /></td>
          <td>Evening:<input class="box" name="19" type="checkbox" value="efridaye" /></td>
          <td>Evening:<input class="box" name="20" type="checkbox" value="esaturdaye" /></td>
          <td>Evening:<input class="box" name="21" type="checkbox" value="esundaye" /></td>
        </tr>
      
      </tbody>
    </table>
  </div>
  

  <div class= "row">
    <div class= "filter-button">
      <button>View connections based on the above days and times</button>
    </div>
  </div>

<div class= "row subheading">
<h2>Viewing Connections </h2>
</div>
<br>
<div class="row">
<% @volunteer_opportunities.each do |volunteer_opportunity| %>

  <div class="col-md-3">
  <div class="paddingbottom">
  <div class="boxheader">
    <h3>
      <%= volunteer_opportunity.user.name %><br>
    </h3>
  </div>
    <div class="descriptiontextpadding">
      <%= volunteer_opportunity.Organization %><br>
      <%= volunteer_opportunity.Address %><br>
    </div>
  
  <center>
    <div class="btn-primary">
      <%= link_to 'Learn More', volunteer_opportunity, class: 'orangefont' %><br>
    </div>
  </center>
  
  <% if (user_signed_in?) && (current_user == volunteer_opportunity.user) %>
  <%= link_to 'Edit', edit_volunteer_opportunity_path(volunteer_opportunity) %><br>
  <%= link_to 'Destroy', volunteer_opportunity, method: :delete, data: { confirm: 'Are you sure?' } %><br>
  <% end %>
  </div>
  </div>
<% end %>

</div>




<% if (user_signed_in?) && (not current_user.volunteer?) %>
<%= link_to 'New Volunteer opportunity', new_volunteer_opportunity_path %>
<% end %>

</div>
