<div class="container">
<p><b>Morning connections available during:&nbsp; &nbsp;</b> <a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=mmondaym+mtuesdaym+mwednesdaym+mthursdaym+mfridaym">The entire weekday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=msaturdaym+msundaym">The entire weekend</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=mmondaym">Monday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=mtuesdaym">Tuesday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=mwednesdaym">Wednesday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=mthursdaym">Thursday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=mfridaym">Friday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=msaturdaym">Saturday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=msundaym">Sunday</a></p>
<br>
<p><b>Afternoon connections available during:</b> <a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=amondaya+atuesdaya+awednesdaya+athursdaya+afridaya">The entire weekday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=asaturdaya+asundaya">The entire weekend</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=amondaya">Monday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=atuesdaya">Tuesday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=awednesdaya">Wednesday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=athursdaya">Thursday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=afridaya">Friday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=asaturdaya">Saturday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=asundaya">Sunday</a></p>
<br>
<p><b>Evening connections available during:&nbsp; &nbsp;</b> <a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=emondaye+etuesdaye+ewednesdaye+ethursdaye+efridaye">The entire weekday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=esaturdaye+esundaye">The entire weekend</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=emondaye">Monday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=etuesdaye">Tuesday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=ewednesdaye">Wednesday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=ethursdaye">Thursday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=efridaye">Friday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=esaturdaye">Saturday</a>—<a href="https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=esundaye">Sunday</a></p>
<br>
<br>
<br>
<h2>All available connections </h2>
<br>
<div class="row">
<% @volunteer_opportunities.each do |volunteer_opportunity| %>

  <div class="col-md-3">
  <div class="paddingbottom">
  <div class="border1">
  <div class="boxesbackground">
  <b>
  <%= volunteer_opportunity.user.name %><br>
  </b>
  </div>
  <div class="descriptiontextpadding">
  <%= volunteer_opportunity.Organization %><br>
  </div>
  
  <center>
  <div class="boxesbackground">
  <%= link_to 'Learn More', volunteer_opportunity, class: 'orangefont' %><br>
  </div>
  </center>
  
  <% if (user_signed_in?) && (current_user == volunteer_opportunity.user) %>
  <%= link_to 'Edit', edit_volunteer_opportunity_path(volunteer_opportunity) %><br>
  <%= link_to 'Destroy', volunteer_opportunity, method: :delete, data: { confirm: 'Are you sure?' } %><br>
  <% end %>
  </div>
  </div>
  </div>
<% end %>

</div>




<% if (user_signed_in?) && (not current_user.volunteer?) %>
<%= link_to 'New Volunteer opportunity', new_volunteer_opportunity_path %>
<% end %>
</div>
