<div class="col-md-5">
<h2>Your profile:</h2>
<p>
<%= image_tag current_user.image.url(:medium) %>
</p>
<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Address:</strong>
<%= current_user.address %>
</p>

<p>
  <strong>Email:</strong>
<%= current_user.email %>
</p>


<p>
  <strong>Phone:</strong>
<%= current_user.phone_number %>
</p>

<p>
<strong>Biographical information:</strong>
<%= current_user.biographical_information %>
</p>

<p>
<%= link_to "Edit your profile", edit_user_registration_path %>
</p>

<% if (user_signed_in?) && (not current_user.volunteer?) %>
<h2>Opportunities you have posted:</h2>
</div>



<table class= "table table-striped">
  <thead>
    <tr>
      <th>Position</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @volunteer_opportunities.each do |volunteer_opportunity| %>
      <tr>
        <td><%= volunteer_opportunity.Organization %></td>
        <td><%= volunteer_opportunity.Address %></td>
        <td><%= volunteer_opportunity.Phone %></td>
        <td><%= volunteer_opportunity.Website %></td>
        <td><%= link_to 'Show', volunteer_opportunity %></td>
        <% if (user_signed_in?) && (current_user == volunteer_opportunity.user) %>
        <td><%= link_to 'Edit', edit_volunteer_opportunity_path(volunteer_opportunity) %></td>
        <td><%= link_to 'Destroy', volunteer_opportunity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>
<% if (user_signed_in?) && (not current_user.volunteer?) %>
<%= link_to 'New Volunteer opportunity', new_volunteer_opportunity_path %>
<% end %>