<div class="container-fluid">

<div class="row">
      <div class="col-sm-4">
        <div class="profile-info">
          <p>
            <strong>Address:</strong>
          <%= current_user.address %>
          </p>

          <p>
            <strong>Email:</strong>
          <%= current_user.email %>
          </p>


          <p>
            <strong>Phone:</strong>
          <%= current_user.phone_number %>
          </p>

          <p>
            <strong>Website:</strong>
          <%= current_user.website %>
          </p>
     </div>
 </div>

<div class="col-sm-2">
          <div class="name-profile">
           <h2><%= current_user.name %></h2>
            <p>
             <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-success" %>
            </p>
     </div>
  </div>

<div class="col-sm-6">
  <div class="profile-pic">
           <p>
              <%= image_tag current_user.image.url(:medium) %>
            </p>
        </div>
   </div>
</div>

<div class="row">
      <div class="col-sm-4">
        <div class="my-causes">
        <p>
          <strong>About <%= current_user.name %>:</strong>
          <%= current_user.about1 %>
        </p>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="my-preferences">
          <h3>Our mission:
          <%= current_user.biographical_information %>
          </h3>
       </div>
      </div>
</div>


<% if (user_signed_in?) && (not current_user.volunteer?) %>

 <div class="connections-claimed">
   <h2>Connections you have posted:</h2>
    
  </div>

  <br>

<table class= "table table-responsive">
  <thead>
    <tr>
      <th>Position</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @volunteer_opportunities.each do |volunteer_opportunity| %>
      <tr>
        <td><%= volunteer_opportunity.Organization %></td>
        <td><%= volunteer_opportunity.Address %></td>
        <td><%= volunteer_opportunity.Phone %></td>
        <td><%= volunteer_opportunity.Website %></td>
        <td><%= link_to 'View', volunteer_opportunity, class: "btn btn-success" %>
        <% if (user_signed_in?) && (current_user == volunteer_opportunity.user) %>
        <%= link_to 'Edit', edit_volunteer_opportunity_path(volunteer_opportunity), class: "btn btn-success" %>
        <%= link_to 'Delete', volunteer_opportunity, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<% end %>
<% if (user_signed_in?) && (not current_user.volunteer?) %>
<%= link_to 'Create New Connection', new_volunteer_opportunity_path, class: "btn btn-success" %>
<br>
<br>
<% end %>
</div>

