<div class="container">
<script>
$("input.box").each(function() {
    var mycookie = $.cookie($(this).attr('name'));
    if (mycookie && mycookie == "true") {
        $(this).prop('checked', mycookie);
    }
});
$("input.box").change(function() {
    $.cookie($(this).attr("name"), $(this).prop('checked'), {
        path: '/',
        expires: 365
    });
});



    var baseUrl = 'https://tecm4400volunteerapp.herokuapp.com/volunteer_opportunities/search?utf8=%E2%9C%93&search=';

    $(document).ready(function () {
        $('button').click(function (e) {
            e.preventDefault();

            var queryString = $('input[type=checkbox]')
            .filter(function() { return $(this).is(':checked'); })
            .map(function () {
                    return $(this).val();
            }).get().join('+');

            window.location = baseUrl + queryString;
        });
    });
</script>


    <p>
    <h4>Morning connections available during:</h4>
    Monday:<input class="box" name="1" type="checkbox" value="mmondaym" />
    Tuesday:<input class="box" name="2" type="checkbox" value="mtuesdaym" />
    Wednesday:<input class="box" name="3" type="checkbox" value="mwednesdaym" />
    Thursday:<input class="box" name="4" type="checkbox" value="mthursdaym" />
    Friday:<input class="box" name="5" type="checkbox" value="mfridaym" />
    Saturday:<input class="box" name="6" type="checkbox" value="msaturdaym" />
    Sunday:<input class="box" name="7" type="checkbox" value="msundaym" />
    </p>
    <br>
    <p>
    <h4>Afternoon connections available during:</h4>
    Monday:<input class="box" name="8" type="checkbox" value="amondaya" />
    Tuesday:<input class="box" name="9" type="checkbox" value="atuesdaya" />
    Wednesday:<input class="box" name="10" type="checkbox" value="awednesdaya" />
    Thursday:<input class="box" name="11" type="checkbox" value="athursdaya" />
    Friday:<input class="box" name="12" type="checkbox" value="afridaya" />
    Saturday:<input class="box" name="13" type="checkbox" value="asaturdaya" />
    Sunday:<input class="box" name="14" type="checkbox" value="asundaya" />
    </p>
    <br>
    <p>
    <h4>Evening connections available during:</h4>
    Monday:<input class="box" name="15" type="checkbox" value="emondaye" />
    Tuesday:<input class="box" name="16" type="checkbox" value="etuesdaye" />
    Wednesday:<input class="box" name="17" type="checkbox" value="ewednesdaye" />
    Thursday:<input class="box" name="18" type="checkbox" value="ethursdaye" />
    Friday:<input class="box" name="19" type="checkbox" value="efridaye" />
    Saturday:<input class="box" name="20" type="checkbox" value="esaturdaye" />
    Sunday:<input class="box" name="21" type="checkbox" value="esundaye" />
    </p>

    <br>
    <button>View connections based on the above days and times</button>
    <br>
    <%= link_to 'View all connections', volunteer_opportunities_path %>

<br>
<br>
<br>
<h2>Viewing connections based on the above days and times </h2>
<br>
<div class="row">
<% @volunteer_opportunities.each do |volunteer_opportunity| %>

  <div class="col-md-3">
  <div class="paddingbottom">
  <div class="border1">
  <div class="boxesbackground">
  <b>
  <%= volunteer_opportunity.user.name %><br>
  </b>
  </div>
  <div class="descriptiontextpadding">
  <%= volunteer_opportunity.Organization %><br>
  </div>
  
  <center>
  <div class="boxesbackground">
  <%= link_to 'Learn More', volunteer_opportunity, class: 'orangefont' %><br>
  </div>
  </center>
  
  <% if (user_signed_in?) && (current_user == volunteer_opportunity.user) %>
  <%= link_to 'Edit', edit_volunteer_opportunity_path(volunteer_opportunity) %><br>
  <%= link_to 'Destroy', volunteer_opportunity, method: :delete, data: { confirm: 'Are you sure?' } %><br>
  <% end %>
  </div>
  </div>
  </div>
<% end %>

</div>




<% if (user_signed_in?) && (not current_user.volunteer?) %>
<%= link_to 'New Volunteer opportunity', new_volunteer_opportunity_path %>
<% end %>
