<div class="container">
<h1 class="page-title">Connect with <%= @volunteer_opportunity.user.name %> </h1>


<div class="container-fluid show-page-container">
<div class="row show-top">
<div class= "col-md-7">
    <h2>Volunteer Position - <%= @volunteer_opportunity.Organization %></h2>
    <p>
    <strong>Description of Work:</strong>
      <%= @volunteer_opportunity.description %>
    </p>
    <p>
    <strong>Special skill needed:</strong>
      <%= @volunteer_opportunity.skill_needed %>
    </p>
    <p>
    <strong>What to bring:</strong>
      <%= @volunteer_opportunity.what_to_bring %>
    </p>
  
    <p>
      <strong>Address:</strong>
      <%= @volunteer_opportunity.Address %>
    </p>
    <p>
  <strong>Website:</strong>
  <%= @volunteer_opportunity.Website %>
   </p>
   <p>
      <strong>Phone:</strong>
      <%= @volunteer_opportunity.Phone %>
    </p>
    <br>
    <strong>Morning availibility:</strong><br>
        <% if @volunteer_opportunity.monday_morning == "mmondaym" %>
          Monday
          <% end %>
        <% if @volunteer_opportunity.tuesday_morning == "mtuesdaym" %>
          <br>
          Tuesday
          <% end %>
        <% if @volunteer_opportunity.wednesday_morning == "mwednesdaym" %>
          <br>
          Wednesday
          <% end %>
        <% if @volunteer_opportunity.thursday_morning == "mthursdaym" %>
          <br>
          Thursday
          <% end %>
        <% if @volunteer_opportunity.friday_morning == "mfridaym" %>
          <br>
          Friday
          <% end %>
        <% if @volunteer_opportunity.saturday_morning == "msaturdaym" %>
          <br>
          Saturday
          <% end %>
        <% if @volunteer_opportunity.sunday_morning == "msundaym" %>
          <br>
          Sunday
          <% end %>
          <br>
          <br>
      <strong>Afternoon availibility:</strong><br>
        <% if @volunteer_opportunity.monday_afternoon == "amondaya" %>
          Monday
          <% end %>
        <% if @volunteer_opportunity.tuesday_afternoon == "atuesdaya" %>
          <br>
          Tuesday
          <% end %>
        <% if @volunteer_opportunity.wednesday_afternoon == "awednesdaya" %>
          <br>
          Wednesday
          <% end %>
        <% if @volunteer_opportunity.thursday_afternoon == "athursdaya" %>
          <br>
          Thursday
          <% end %>
        <% if @volunteer_opportunity.friday_afternoon == "afridaya" %>
          <br>
          Friday
          <% end %>
        <% if @volunteer_opportunity.saturday_afternoon == "asaturdaya" %>
          <br>
          Saturday
          <% end %>
        <% if @volunteer_opportunity.sunday_afternoon == "asundaya" %>
          <br>
          Sunday
          <% end %>
          <br>
          <br>
        <strong>Evening availibility: </strong><br>
        <% if @volunteer_opportunity.monday_evening == "emondaye" %>
          Monday
          <% end %>
        <% if @volunteer_opportunity.tuesday_evening == "etuesdaye" %>
          <br>
          Tuesday
          <% end %>
        <% if @volunteer_opportunity.wednesday_evening == "ewednesdaye" %>
          <br>
          Wednesday
          <% end %>
        <% if @volunteer_opportunity.thursday_evening == "ethursdaye" %>
          <br>
          Thursday
          <% end %>
        <% if @volunteer_opportunity.friday_evening == "efridaye" %>
          <br>
          Friday
          <% end %>
        <% if @volunteer_opportunity.saturday_evening == "esaturdaye" %>
          <br>
          Saturday
          <% end %>
        <% if @volunteer_opportunity.sunday_evening == "esundaye" %>
          <br>
          Sunday
          <% end %>

    <% if user_signed_in? && current_user.volunteer? %>
      <p>
        <br>
      <%= link_to "Volunteer for " + @volunteer_opportunity.Organization, new_volunteer_opportunity_claim_opportunity_path(@volunteer_opportunity), class: "btn btn-success" %>

      </p>
    <% end %>
  </div>
<div class="col-md-5 other-events">
<h2>Other Events from <%= @volunteer_opportunity.user.name %>
  </h2>

<table class="table table-border">
  <thead>
    <tr>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
    <% @volunteer_opportunities.each do |volunteer_opportunity| %>
      <tr>
        <td><%= volunteer_opportunity.Organization %></td>

        <td><%= link_to 'Show', volunteer_opportunity %></td>
        <% if (user_signed_in?) && (current_user == volunteer_opportunity.user) %>
        <td><%= link_to 'Edit', edit_volunteer_opportunity_path(volunteer_opportunity) %></td>
        <td><%= link_to 'Destroy', volunteer_opportunity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<div class="row">
<h2>Learn More about <%= @volunteer_opportunity.user.name %></h2>
<div class="col-md-3">
<%= image_tag @volunteer_opportunity.user.image.url, class: "show-image" %>
</div>
<div class="col-md-5">
  

    <p>
      <strong>Address:</strong>
    <%= @volunteer_opportunity.user.address %>
    </p>

    <p>
      <strong>Phone:</strong>
    <%= @volunteer_opportunity.user.phone_number %>
    </p>

    <p>
    <strong>Our mission:</strong>
    <%= @volunteer_opportunity.user.biographical_information %>
    </p>

    <p>
    <strong>About <%= @volunteer_opportunity.user.name %>:</strong>
    <%= @volunteer_opportunity.user.about1 %>
    </p>


    <p>
    <strong>Website:</strong>
    <%= @volunteer_opportunity.user.website %>
    </p>
</div>



</div>
<% if current_user == @volunteer_opportunity.user %>
<%= link_to 'Edit', edit_volunteer_opportunity_path(@volunteer_opportunity) %> |
<% end %>

</div>
