<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @volunteer_opportunity.Organization %>
</p>

<p>
  <strong>Address:</strong>
  <%= @volunteer_opportunity.Address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @volunteer_opportunity.Phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @volunteer_opportunity.Website %>
</p>

<% if current_user == @volunteer_opportunity.user %>
<%= link_to 'Edit', edit_volunteer_opportunity_path(@volunteer_opportunity) %> |
<% end %>

<%= link_to 'Back', volunteer_opportunities_path %>
