
<h1 class="page-title">Connect with <%= @volunteer_opportunity.user.name %> </h1>


<div class="container-fluid organization-profile">

<div class="col-md-4">
<div class="calendar">
<%= image_tag @volunteer_opportunity.user.image.url, class: "show-image" %>

    <h1>Information</h1>
    <div class="underline-purple"></div>
    <p>
      <strong>Address:</strong>
    <%= @volunteer_opportunity.Address %>
    </p>

    <p>
      <strong>Phone:</strong>
    <%= @volunteer_opportunity.Phone %>
    </p>
    <% if (@volunteer_opportunity.user.biographical_information.present? ) %>
    <p>
    <strong>Our mission:</strong>
    <%= @volunteer_opportunity.user.biographical_information %>
    </p>
    <% end %>
    <% if (@volunteer_opportunity.user.about1.present? ) %>
    <p>
    <strong>About <%= @volunteer_opportunity.user.name %>:</strong>
    <%= @volunteer_opportunity.user.about1 %>
    </p>
    <% end %>


    <p>
    <strong>Website:</strong>
    <%= @volunteer_opportunity.Website %>
    </p>
    </div>
</div>

<div class= "col-md-7">
    <div class="calendar">
      <h1>Volunteer Position - <%= @volunteer_opportunity.Organization %></h1>
       <div class="underline"></div>
        <% if (@volunteer_opportunity.description.present? ) %>
        <p>
        <strong>Description of Work:</strong>
          <%= @volunteer_opportunity.description %>
        </p>
        <% end %>
        <% if (@volunteer_opportunity.skill_needed.present? ) %>
        <p>
        <strong>Special skill needed:</strong>
          <%= @volunteer_opportunity.skill_needed %>
        </p>
        <% end %>
        <% if (@volunteer_opportunity.what_to_bring.present? ) %>
        <p>
        <strong>What to bring:</strong>
          <%= @volunteer_opportunity.what_to_bring %>
        </p>
        <% end %>
    <strong>Morning availability: &ensp; </strong>
        <% if (not @volunteer_opportunity.monday_morning == "mmondaym") & (not @volunteer_opportunity.tuesday_morning == "mtuesdaym") & (not @volunteer_opportunity.wednesday_morning == "mwednesdaym") & (not @volunteer_opportunity.thursday_morning == "mthursdaym") & (not @volunteer_opportunity.friday_morning == "mfridaym") & (not @volunteer_opportunity.saturday_morning == "msaturdaym") & (not @volunteer_opportunity.sunday_morning == "msundaym")  %>
          <span>None</span>
        <% end %>

        <% if @volunteer_opportunity.monday_morning == "mmondaym" %>
          Mon
          <% end %>
        <% if @volunteer_opportunity.tuesday_morning == "mtuesdaym" %>
          
          Tus
          <% end %>
        <% if @volunteer_opportunity.wednesday_morning == "mwednesdaym" %>
          
          Wed
          <% end %>
        <% if @volunteer_opportunity.thursday_morning == "mthursdaym" %>
          
          Thu
          <% end %>
        <% if @volunteer_opportunity.friday_morning == "mfridaym" %>
          
          Fri
          <% end %>
        <% if @volunteer_opportunity.saturday_morning == "msaturdaym" %>
          
          Sat
          <% end %>
        <% if @volunteer_opportunity.sunday_morning == "msundaym" %>
          
          Sun
          <% end %>
          <br>
          <br>
      <strong>Afternoon availability:</strong>
        <% if (not @volunteer_opportunity.monday_afternoon == "amondaya") & (not @volunteer_opportunity.tuesday_afternoon == "atuesdaya") & (not @volunteer_opportunity.wednesday_afternoon == "awednesdaya") & (not @volunteer_opportunity.thursday_afternoon == "athursdaya") & (not @volunteer_opportunity.friday_afternoon == "afridaya") & (not @volunteer_opportunity.saturday_afternoon == "asaturdaya") & (not @volunteer_opportunity.sunday_afternoon == "asundaya")  %>
          <span>None</span>
        <% end %>
        <% if @volunteer_opportunity.monday_afternoon == "amondaya" %>
          Mon
          <% end %>
        <% if @volunteer_opportunity.tuesday_afternoon == "atuesdaya" %>
          
          Tus
          <% end %>
        <% if @volunteer_opportunity.wednesday_afternoon == "awednesdaya" %>
          
          Wed
          <% end %>
        <% if @volunteer_opportunity.thursday_afternoon == "athursdaya" %>
          
          Thu
          <% end %>
        <% if @volunteer_opportunity.friday_afternoon == "afridaya" %>
          
          Fri
          <% end %>
        <% if @volunteer_opportunity.saturday_afternoon == "asaturdaya" %>
          
          Sat
          <% end %>
        <% if @volunteer_opportunity.sunday_afternoon == "asundaya" %>
          
          Sun
          <% end %>
          <br>
          <br>
        <strong>Evening availability:&nbsp; &nbsp; </strong>
        <% if (not @volunteer_opportunity.monday_evening == "emondaye") & (not @volunteer_opportunity.tuesday_evening == "etuesdaye") & (not @volunteer_opportunity.wednesday_evening == "ewednesdaye") & (not @volunteer_opportunity.thursday_evening == "ethursdaye") & (not @volunteer_opportunity.friday_evening == "efridaye") & (not @volunteer_opportunity.saturday_evening == "esaturdaye") & (not @volunteer_opportunity.sunday_evening == "esundaye")  %>
        <span>None</span>
        <% end %>
        <% if @volunteer_opportunity.monday_evening == "emondaye" %>
          Mon
          <% end %>
        <% if @volunteer_opportunity.tuesday_evening == "etuesdaye" %>
          
          Tus
          <% end %>
        <% if @volunteer_opportunity.wednesday_evening == "ewednesdaye" %>
          
          Wed
          <% end %>
        <% if @volunteer_opportunity.thursday_evening == "ethursdaye" %>
          
          Thu
          <% end %>
        <% if @volunteer_opportunity.friday_evening == "efridaye" %>
          
          Fri
          <% end %>
        <% if @volunteer_opportunity.saturday_evening == "esaturdaye" %>
          
          Sat
          <% end %>
        <% if @volunteer_opportunity.sunday_evening == "esundaye" %>
          
          Sun
          <% end %>
          <br>
          <br>
          <strong>College Majors: </strong>
          <br>
          <% if (not @volunteer_opportunity.chemistry == "123chemistry123") & (not @volunteer_opportunity.biology_medical == "123biology123") & (not @volunteer_opportunity.social_sciences == "123social123") & (not @volunteer_opportunity.engineering_physics == "123engineering123") & (not @volunteer_opportunity.english_communication == "123english123") & (not @volunteer_opportunity.journalism == "123journalism123") & (not @volunteer_opportunity.marketing_business == "123marketing123") & (not @volunteer_opportunity.hospitality == "123hospitality123") & (not @volunteer_opportunity.mathematics == "123mathematics123") & (not @volunteer_opportunity.art_music == "123art123")   %>
          <span>None</span>
        <% end %>

        <% if @volunteer_opportunity.chemistry == "123chemistry123" %>
          Chemistry
          <br>
          <% end %>     
        <% if @volunteer_opportunity.biology_medical == "123biology123" %>
          
          Biology or Medical
          <br>
          <% end %>
        <% if @volunteer_opportunity.social_sciences == "123social123" %>
          
          Social Sciences
          <br>
          <% end %>
        <% if @volunteer_opportunity.engineering_physics == "123engineering123" %>
          
          Engineering or Physics
          <br>
          <% end %>
        <% if @volunteer_opportunity.english_communication == "123english123" %>
          
          English or Communication
          <br>
          <% end %>
        <% if @volunteer_opportunity.journalism == "123journalism123" %>
          
          Journalism
          <br>
          <% end %>
        <% if @volunteer_opportunity.marketing_business == "123marketing123" %>
          
          Marketing or Business
          <br>
          <% end %>

          <% if @volunteer_opportunity.hospitality == "123hospitality123" %>
          
          Hospitality
          <br>
          <% end %>

        <% if @volunteer_opportunity.mathematics == "123mathematics123" %>
          
          Mathematics
          <br>
          <% end %>

        <% if @volunteer_opportunity.art_music == "123art123" %>
          
          Art or Music
          <br>
          <% end %>


    <% if user_signed_in? && current_user.volunteer? %>
      <p>
        <br>
      <%= link_to "Volunteer for " + @volunteer_opportunity.Organization, new_volunteer_opportunity_claim_opportunity_path(@volunteer_opportunity), class: "btn btn-success" %>

      </p>
    <% end %>
  </div>
</div>

    <div class="col-md-7">
    <div class="calendar2"> 
    <h2>Other Connections from this org.</h2>
    </h2>
    <div class="underline-red"></div>
      <table class="table table-border">
        <thead>
          <tr>
            
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
         
          <% @volunteer_opportunities.each do |volunteer_opportunity| %>
            <tr>
              <td><%= volunteer_opportunity.Organization %></td>

              <td><%= link_to 'Show', volunteer_opportunity, class: "btn btn-success" %></td>
              <% if (user_signed_in?) && (current_user == volunteer_opportunity.user) %>
              <td><%= link_to 'Edit', edit_volunteer_opportunity_path(volunteer_opportunity), class: "btn btn-success" %></td>
              <td><%= link_to 'Destroy', volunteer_opportunity, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  </div>


</div>
