<!DOCTYPE html>
<html>
<head>
  <title>Volunteerapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Homepage</a>
    </div>





    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", pages_about_path %></li>
        <li><%= link_to "Contact", pages_contact_path %></a></li>
      </ul>
      <%= form_tag search_volunteer_opportunities_path, method: :get, class: "navbar-form navbar-left" do %>
      <p>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <%= submit_tag  "Search", name: nil, class: "btn btn-default" %>
      </p>
        <% end %>

      <ul class="nav navbar-nav navbar-right">
      <% if (user_signed_in?) && (not current_user.volunteer?) %>
        <li><%= link_to "View claimed events", opportunities_to_claim_path %></li>
        <% end %>
        <% if (user_signed_in?) && (current_user.volunteer?) %>
        <li><%= link_to "View claimed events", opportunities_that_have_been_claimed_path %></li>
        <% end %>
        <% if (user_signed_in?) %>
        <li><%= link_to "View your profile", organization_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      <% if (not user_signed_in?) %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Log in", new_user_session_path %></li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
<%= image_tag "banner.png", class: "banner" %>
</div>

<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</div>

</body>
</html>
